# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EasyAbp.Abp.DataDictionary.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Project\OpenSource\EasyAbp.Abp.DataDictionary\.idea\.idea.EasyAbp.Abp.DataDictionary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
